<div class="row">
  <div class="container">
    <div class="text-center">
      <h1>China Map</h1>
      <div class="buttons">
        <button id="population">Population</button>
        <button id="pop-density">Population Density</button>
        <button id="gdp-usd">GDP (USD)</button>
        <button id="gdp-per-cap">GDP Per Capita (USD)</button>
        <button id="area-km-sq">Area (km&#178;)</button>
      </div>
    </div>
    <div id="map" class="center-block" style="width: 960px; height: 720px"></div>
  </div>
</div>