.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    line-height: 7px;
    padding-left: 3px;
    font-weight: bold;
    background: red;
    color: yellow;
    width: 15px;
    height: 15px;
}
