#about {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Helvetica";
  font-size: 16px;
}

.modal-content {
  background-color: #F3F3F9;
}

.modal-title {
  font-family: 'Permanent Marker', 'Helvetica';
  font-size: 36px;
  color: red;
}

#about-sources a {
  margin: 0px;
  font-family: "Helvetica";
  font-weight: bold;
  color: black;
  font-size: 16px;
}